footer{
    background-color: #fff;
    padding: 10rem 0;
}

.container{
    margin: 0 auto!important;
    max-width: 133rem!important;
    padding: 0 2.5rem!important;
}

.footer-content{
    grid-gap: 8rem;
    color: #010103;
    display: grid;
    gap: 8rem;
    grid-template-columns: 27fr 21fr 21fr 21fr;
    justify-content: center;
    text-align: left;
}

@media (max-width: 1100px)
{.footer-content {
    grid-template-columns: 1fr 1fr;
}
}

@media (max-width: 650px)
{.footer-content {
    grid-template-columns: 1fr;
}
}

.footer-content-list{
    list-style: none;
}

@media (max-width: 650px)
{.footer-content-list {
    text-align: center;
}
}

.footer-content-list a{
    color: #010103;
    text-decoration: none;
    transition: all .2s;
}

.footer-content-list a:hover{
    color: #ff4d30;
}

.list1 li:first-child {
    font-size: 2.4rem;
    margin-bottom: 1.5rem;
}

.list1 li:first-child span{
    font-weight: 700;
}

.list1 li:nth-child(2){
    color: #706f7b;
    font-size: 1.6rem;
    line-height: 1.7;
    margin-bottom: 3rem;
}

.list1 li:nth-child(3){
    font-family: 'Rubik',sans-serif;
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 1rem
}

.list1 li:nth-child(3), .list1 li:nth-child(4){
    font-family: Rubik,sans-serif;
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.list2 li:first-child{
    cursor: auto;
    font-family: Poppins,sans-serif;
    font-size: 2.4rem;
    font-weight: 700;
    text-transform: uppercase;
}

.list2 li{
    font-size: 1.6rem;
    margin-bottom: 1rem;
}

.list2 input{
    background-color: #ececec;
    border-color: transparent;
    border-width: 1px;
    font-family: 'Rubik',sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 1rem;
    outline: none;
    padding: 10px 60px;
}

@media (max-width: 1100px)
{.list2 input {
    width: 100%;
}
}

.submit-email {
    background-color: #ff4d30;
    border: 2px solid #ff4d30;
    border-radius: 0.3rem;
    box-shadow: 0 10px 15px 0 rgba(255,83,48,.25);
    color: #fff;
    cursor: pointer;
    font-size: 1.6rem;
    font-weight: 700;
    padding: 1.5rem 2.5rem;
    text-decoration: none;
    transition: all .3s;
    width: fit-content;
    width: 100%;
}

.submit-email:hover{
    background-color: #fa4226;
    box-shadow: 0 10px 15px 0 rgba(255,83,48,.4);
}